* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}



.firstpage {
    background-color: black;
    max-width: 100%;
    height: 100vh;
}

.nav-bar a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 890px;
    display: inline-block;
    transition: color 0.3s;
    color: white;
    margin-right: 50px;
    top: 40px;
    transition: -webkit-text-stroke 0.2s;
    animation: slideTop 0.7s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

@keyframes slideTop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



.nav-bar a:hover {
    cursor: pointer;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadein1 {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.textbox {
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    left: 200px;
    top: 220px;
}

.textbox h1 {
    color: white;
    font-size: 45px;
    animation: fadein 1.7s;
}

.textbox p {
    font-size: 19px;
    line-height: 30px;
    animation: fadein1 2.1s;
}

.learn-more-button {
    top: 5px;
    left: 0px;
    cursor: pointer;
    width: 205px;
    height: 60px;
    border: 2px solid white;
    border-radius: 35px;
    font-size: 18px;
    position: relative;
    background-color: transparent;
    border-width: 1.9px;
    color: white;
    box-shadow: inset 0 0 0 0 black;
    outline: none;
    transition: ease-out 0.3s;
}

.learn-more-button .learn-more-button-text {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.learn-more-button:hover {
    box-shadow: inset 220px 0 0 0 white;
    color: black;
    font-size: 20.25px;
}

.textboxauto-type {
    color: rgb(124, 21, 234);
}

.imgbox {
    overflow: hidden;
    position: absolute;
    left: 910px;
    top: 215px;
}

.imgboximg {
    width: 400px;
    height: 275px;

    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter 500ms ease;
    transition: transform 0.7s ease;

}

.imgboximg:hover {
    cursor: pointer;
    filter: invert(10);
    transform: scale(1.7) rotate(-360deg);
}

@keyframes floatimg {
    0% {
        
    }
}


/* SECOND PAGE */




.secondpage {
    background-color: #191919;
    width: 100%;
    height: 100vh;
}

.textforsecondpage {
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    left: 760px;
    top: -392px;
}

.textforsecondpage h1 {
    font-size: 65px;

}

.textforsecondpage p {
    font-size: 19px;
    line-height: 32px;
}

.secondpage img {
    position: relative;
    top: 90px;
    left: 220px;
    width: 430px;
    height: 500px;
    transition: 1s;

}

.metext {
    color: yellow;
}

.intermediateauto-type {
    color: red;
    animation: changecolor1 3s linear infinite;
}

@keyframes changecolor1 {
    0% {
        color: hotpink;
    }

    33% {
        color: red;
    }

    66% {
        color: gold;
    }

    100% {
        color: orange;
    }
}

.glamorousauto-type {
    color: yellow;
    animation: changecolor1 3s linear infinite;
}


.expertauto-type {
    color: skyblue;
    animation: changecolor1 3s linear infinite;
}


.webdeveloperauto-type {
    animation: changecolor1 3s linear infinite;
}


.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: all 0.7s ease;
}

.reveal.active {
    transform: translateX(0px);
    opacity: 1;
}



.revealthirdpage {
    position: relative;
    transform: translateX(-140px);
    opacity: 0;
    transition: all 0.7s ease;
}

.revealthirdpage.active {
    transform: translateX(0px);
    opacity: 1;
}

.revealthirdpagesecond {
    position: relative;
    transform: translateX(140px);
    opacity: 0;
    transition: all 0.7s ease;
}

.revealthirdpagesecond.active {
    transform: translateX(0px);
    opacity: 1;
}


/* THIRD PAGE  */

.thirdpage {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/058/317/original/retro-futuristic-80s-background-free-vector.jpg);
    width: 100%;
    height: 99.9vh;
    font-family: 'Poppins', sans-serif;
    color: white;

}

.textforthirdpage {
    position: relative;
    top: 70px;
    left: 70px;
}

.textforthirdpage h1 {
    font-size: 40px;

}

.textforthirdpage p {
    font-size: 1.2em;
    list-style: circle;
    line-height: 28px;
}

.previousprojectstext {
    position: relative;
    top: -505px;
    left: 920px;
}

.projectstext {
    color: yellow;
}

.containerforchristmasgame {
    color: white;
    position: relative;
    top: -504.5px;
    left: 907px;
    
}

.containerforchristmasgame a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    transition: all 0.6s;
    border: 2px solid white;
    padding: 10px;
    border-color: transparent;
}

.containerforchristmasgame a:hover {
    border: 2px solid white;
    text-decoration: underline;
}

.containerforchristmasgame .datingapp {
    position: relative;
    left: -172px;
    top: 97px;
}






/* FOURTH PAGE*/





.fourthpage {
    background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80);
    
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textforfourthpage {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.contacts {
    color: rgb(124, 21, 234);
    font-size: 65px;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.textforfourthpage img {
    width: 80px;
    height: 60px;
}

.textforfourthpage img {
    width: 80px;
    height: 60px;
}

.textforfourthpage img:hover {
    cursor: pointer;
}



.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -20px;
}

.card {
    background-color: transparent;
    border-radius: 20px;
    width: 400px;
    height: 530px;
    font-size: 1.3em;
    margin: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.03);

}

.cardtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardtitle h1 {
    position: relative;
    top: 15px;
    color: yellow;
}

.cardbody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbody h1 {
    position: relative;
    top: 150px;
}

.cardbody p {
    position: relative;
    top: 40px;
    left: 45px;
}

.cardbody button {
    color: white;
    position: relative;
    font-size: 1.01em;
    top: 325px;
    left: 70px;
    border: 2px solid white;
    background-color: transparent;
    width: 90px;
    height: 45px;
}

.cardbody button:hover {
    cursor: pointer;
}


.cardusernameinput {
    display: flex;
    align-items: center;
}

input {
    position: relative;
    top: 280px;
    height: 45px;
    left: 20px;
    margin: 0;
    padding-left: 100px;
}


.cardfooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardfooter img {
    position: relative;
    top: 320px;
}




.revealDiscord {
    position: relative;
    transform: translateX(-130px);
    opacity: 0;
    transition: all 0.7s ease;
}

.revealDiscord.active {
    transform: translateX(0px);
    opacity: 1;
}

.revealSnap {
    position: relative;
    transform: translateX(130px);
    opacity: 0;
    transition: all 0.7s ease;
}

.revealSnap.active {
    transform: translateX(0px);
    opacity: 1;
}

.revealInsta {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.7s ease;
}

.revealInsta.active {
    transform: translateY(0px);
    opacity: 1;
}

input {
    background-color: white;
}

::placeholder {
    color: black;
}

.programmingtext {
    color: rgb(124, 21, 234);
}